.bg {

	&--dark {
		background-color: #1f272d;
	}

	&--light {
		background-color: #039be5;
	}

	&--leader {
		background: 
			url('../img/leader.svg')
			top center / 50px 20px
			no-repeat;
	}

	&--construction {
		background: 
            linear-gradient(
              rgba(255, 255, 255, 0.45), 
              rgba(255, 255, 255, 0.45)
            ),
            url('/img/construction_worker_background.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: scroll;
        background-size: cover;
	}
}