.hero {
	h1 {
		font-size: 40px;
		@media screen and (min-width: 720px) {
			font-size: 60px;
		}
	}
}

.course-panel {
	text-align: center;
	margin: 2rem 0;

	.category {
		font-size: 140%;
	}
	.number {
		font-size: 300%;
	}
	.label {
		margin-top: -14px;
	}
}

.blurb {
	height: 70vh;
	color: white;
	text-align: center;

	.content {
		margin-top: 20vh;
	}

	.small-title {
		font-size: 90%;
		letter-spacing: 2px;
		font-weight: 600;
		text-transform: uppercase; 
	}

	.title {
		font-size: 300%;
		line-height: 3rem;
	}

	hr {
		width: 8%;
		margin: 1.8rem auto 1.1rem;
	}

	.description {
		margin: 0 3.5rem;
	}
}

.video-sample {
	margin-bottom: 40px;
	h2 {
		weight: 400;
		font-size: 20px;
		text-align: center;
	}
}

.how-works {
	video {
		display: block;
		margin: auto;

		@media screen and (min-width: 900px) {
			max-width: 50%;
		}
	}
}

#how-it-works {
	max-width: 60%;
	margin: auto; 
	
	p {
		font-size: 22px;
	}

}

.pricing-table {
	@include clearfix;
	border: 1px solid rgba(0,0,0,.17);
	box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.5);
	max-width: 350px;
	margin: 40px auto;
	padding: 20px;
	opacity: 0;

	.price {
		display: block;
		margin-top: 40px;
		font-size: 42px;
		color: #2196F3;
	}

	.features {
		padding: 20px 60px;
		li {
			padding: 20px;
			display: block;
			border-bottom: 1px solid rgba(0, 0, 0, .15);

			&:last-child {
				border: none;
			}
		}
	}

	a {
		margin-bottom: 30px;
	}
}

.firetruck {
	width: 100%;
}