h2 {
	font-weight: 600 !important;
}

.heavy {
	font-weight: 600;
}

.getting-started-steps {
	text-align: center;
	font-size: 170%;
	font-weight: 300;

	li {
		margin: 1rem;
	}

	li.username {
		margin: 0;
		margin-top: 1.5rem;
	}

	li.password {
		margin: 0;
		margin-bottom: 1.5rem;
	}
}